body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* ======== MENU ======== */

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #E5E5E5;
}
.menu--btn {
width: 146px;
height: 40px;
font-size: 12px;
font-weight: bold;
border: 1px solid black;
border-radius: 3px;
}

.menu--nav {
    font-size: 12px;
    padding: 0;
}

.menu--nav__text {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding: 0.7rem;
}

.menu--nav__text:hover {
    color: black;
    font-weight: bold;
}


/* ======== HERO-SECTION ======== */


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E5E5E5;
  width: 100%vw;
}

.__title-text {
  font-size: 53px;
  font-weight: 700;
  margin-bottom: 10px;
}

.__bread-text {
text-align: center;
color: rgba(34, 34, 34, 0.80);
line-height: 150%;
padding: 10px;
}

.hero-btn {
  background: black;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0px 10px;
  border-radius: 6px;
  border: none;
  width: 134px;
}

.hero-btn > p {
  margin: 12px 0 12px 0;
}

.hero-btns {
display:flex;
gap: 2rem;
}

/* ====== MAIN-SECTION ======= */


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 700px;
    min-height: 300px;
    gap: 1rem;
}

.products--product1, .products--product2, .products--product3, .products--product4 {
  min-width: 262px;
  min-height: 383px;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

  .products--collection1, .products--collection2 {
    background: #343332;
    color: white;
    padding: 10px;
    min-width: 54px;
    min-height: 349px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .products--collectionbtns {
    color:  rgba(255, 255, 255, 0.60);;
    background: #343332;
    border: 1px solid  rgba(255, 255, 255, 0.60);;
    width: 146px;
    height: 40px;
    border-radius: 3px;
    font-size: 12px;
  }

  .products--collection1 {
    grid-column: 1/3;
  }

  .products--collection2 {
    grid-column: 3/5;
  }


/* ====== FOOTER ======= */


footer {
    background-image: url("/images/footer\ map\ bg.png");
    height: 556px;
    object-fit: fill;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100vw;
}

.footer-section {
background: white;
width: 434px;
height: 417px;
margin: 70px 50px;
padding: 30px;
}

.footer--nav {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-size: 14px;
}

.__footer-text {
  color: rgba(34, 34, 34, 0.80);
  line-height: 150%;
  padding: 0px;
  font-size: 14px;
  margin-bottom: 50px;
  }

  .subtitle {
    margin-bottom: 8px;
  }

  .footer--ul {
    padding: 0;
  }

/* ====== MEDIA QUERY ======= */


@media screen and (min-width: 720px) {
  .menu--hamburgernav {
    display: none;

}

}

@media screen and (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {

  .menu--nav, .menu--btn {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 150px;

  }

  .products--product1, .products--product2, .products--product3, .products--product4 {
    min-width: 180px;
    min-height: 250px;
  }

  .__title-text {
    font-size: 36px;
    margin-bottom: 30px;
  
  }
  .__bread-text {
    font-size: 12px;
    }

    .footer-section {
      margin: 70px 30px;

      }

}